<ng-container *ngIf="vm$ | async as vm">
  <app-header (playerNames)="onStartGame($event)"></app-header>

  <app-player-hand-icons
    [player1Icon]="vm.player1Icon"
    [player2Icon]="vm.player2Icon">
  </app-player-hand-icons>

  @if (startGame) {
    <app-game-scores
      [player1Score]="vm.player1Score"
      [player2Score]="vm.player2Score"></app-game-scores>

    <app-game-result
      [startGame]="startGame"
      [result]="vm.result"
      [player1]="player1"
      [player2]="player2"></app-game-result>

    <app-game-actions
      [rockIcon]="faHandBackFist"
      [paperIcon]="faHand"
      [scissorsIcon]="faHandScissors"
      (handSelection)="onHandSelection($event)"></app-game-actions>
  }
</ng-container>
